html {
font-family: "arial";
height: 100%;
}

body {
	width:80%;
	margin: auto;
	height: 100%;
}

select {
	width: 100%;		
}
#wrapper{
	width: 50%;
	height: 60%;
}

  .btn-group {
	  visibility: hidden;
  }
  